/* importanto as fontes para o site*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Poppins:wght@400;700&display=swap');

/*definocao de variaveis*/
:root{
    /* fontes  */
    --fonte_principal: "Poppins", "sans-serif";
    --fonte_secundaria: "Lobster", "sans-serif";

    /*paleta de cores*/
    --cor_principal: #747dff ;
    --cor_destaque:  #ffad32 ;
    --cor_principal_escuro: #747dff85 ;
    --cor_gradiente_01: #ffe7c2;
    --cor_gradiente_02: #bdacff;
    --cor_01: #f9f9f9;
    --cor_02: #B8C0C7;
    --cor_03: #767f83;
    --cor_04: #3c4852;
    --cor_05: #00000043;


}

/* limpa as configuracoes padroes do naveagador */
*{
    margin: 0%;
    padding: 0; /* tira o espacamneto do conteudo */
    box-sizing: border-box; /*fica uma caixa ajustado dentro do html*/
    scroll-behavior: smooth;
}
html{
   font-family: var(--fonte_principal); 
   font-size: 18px;
}
body{
    color: var(--cor_04)
}
/* barra de navegacao e menus */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor_principal_escuro);
    padding: 0.6rem 3rem ;
    color: var(--cor_01);
    letter-spacing: 0.1rem;
    position:fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}
.logo{
    font-family: var(--fonte_secundaria);
    font-size: 1.5rem;

}

.menu a {
    text-decoration: none;
    color:var(--cor_01);
    font-weight: 700;
    padding: 0.6rem 1rem;
  


    border: solid 1px ;

}
.menu a:hover{
    color:var(--cor_destaque);

}
/* baner e calendario */
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: 50% 50%;
    height: 96vh;

}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor_01);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    word-spacing:0.5rem;
    height: 100%;
    
}